[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-measurements"]
	path = packages/nomad-measurements
	url = https://github.com/FAIRmat-NFDI/nomad-measurements.git
[submodule "packages/nomad-docs"]
	path = packages/nomad-docs
	url = https://github.com/FAIRmat-NFDI/nomad-docs.git
[submodule "packages/nomad-parser-plugins-simulation"]
	path = packages/nomad-parser-plugins-simulation
	url = https://github.com/FAIRmat-NFDI/nomad-parser-plugins-simulation.git
[submodule "packages/nomad-simulations"]
	path = packages/nomad-simulations
	url = git@github.com:FAIRmat-NFDI/nomad-simulations.git
